<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AmazonProject.Tests.ProductTest"/>
      <class name="AmazonProject.Tests.LocationTest"/>
      <class name="AmazonProject.Tests.SignInTest"/>
      <class name="AmazonProject.Tests.FacebookLoginTest"/>
    </classes>
  </test> 
</suite> 
